<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="studiosoftware.Properties.Settings.ProjectConnectionString"
            connectionString="Data Source=LAPTOP-NONUB9GO\SQLEXPRESS;Initial Catalog=Project;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>